@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #222222;
  color: #ececec;
}

::selection,
::-moz-selection {
  @apply bg-zinc-600;
}

* {
  scroll-margin-top: 4rem;
}

input,
select,
textarea {
  @apply rounded-md;
  @apply p-2;
  @apply bg-zinc-700;
}

:focus {
  @apply rounded-md;
  @apply focus:outline-none;
  @apply focus:ring-2;
  @apply focus:ring-zinc-500;
}

div:focus {
  @apply focus:outline-none;
  @apply focus:ring-0;
}

.overflow-anywhere {
  overflow-wrap: anywhere;
}

.faq-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply pt-2 !important;
  }

  p {
    @apply leading-6;
    @apply mb-4;
  }

  p > a {
    @apply underline;
  }

  h2 > a {
    @apply text-zinc-200;
    @apply hover:text-zinc-200;
  }

  h2 > a:target {
    @apply underline;
  }
}

.post-content,
.faq-content {
  p {
    @apply whitespace-pre-line;
  }

  a {
    @apply text-zinc-400;
    @apply hover:text-zinc-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
    @apply text-zinc-200;
    @apply my-2;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }

  blockquote {
    @apply border-l-4;
    @apply border-zinc-500;
    @apply pl-4;
  }

  code {
    @apply bg-zinc-700;
    @apply rounded-md;
    @apply p-1;
  }

  pre {
    @apply bg-zinc-700;
    @apply rounded-md;
    @apply p-2;
    @apply overflow-x-auto;
  }

  ul {
    @apply list-disc;
    @apply list-inside;
  }

  ol {
    @apply list-decimal;
    @apply list-inside;
  }

  li {
    @apply mb-1;
  }

  thead {
    @apply border-b-2;
    @apply border-zinc-500;
  }

  td {
    @apply p-2;
    @apply border-b-2;
    @apply border-zinc-600;
  }
}
