@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #222222;
  color: #cecece;
}

.text-input {
  @apply rounded-md;
  @apply p-2;
  @apply bg-zinc-700;
}

.focus-outline {
  @apply focus:outline-none;
  @apply focus:ring-2;
  @apply focus:ring-zinc-500;
}

.overflow-wrap {
  overflow-wrap: break-word;
}
